:root {
  --intelas-color-primary-pressed-purple: #001F9A;
  --intelas-color-primary-dark-purple: #4747CC;
  --intelas-color-primary-purple: #5C5CE5;
  --intelas-color-primary-light-purple: #E8E8FC;

  --intelas-color-secondary-white: #FFF;
  --intelas-color-secondary-black: #232732;
  --intelas-color-secondary-light-black: #596580;
  --intelas-color-secondary-grey: #99A4BF;
  --intelas-color-secondary-light-grey: #EBEEF5;
  --intelas-color-secondary-overlay: #191C32;

  --intelas-color-background-purple: #F7F7FC;

  --intelas-color-stroke-red: #F26D6D;
  --intelas-color-status-red: #E54545;

  --intelas-color-table-level-1: #DBDBFF;
  --intelas-color-table-level-2: #D7D7FA;
  --intelas-color-table-level-3: #E1E1FA;
  --intelas-color-table-level-4: #EBEBFA;
}
