.intelas-button--type--primary {
  background-color: var(--intelas-color-primary-purple);
  color: var(--intelas-color-secondary-white);

  &:hover:not(.intelas-button--disabled):not(.intelas-button--loading) {
    background-color: var(--intelas-color-primary-dark-purple);
  }
  
  &:focus:not(.intelas-button--disabled):not(.intelas-button--loading) {
    background-color: var(--intelas-color-primary-dark-purple);
    box-shadow: 0 0 0 2px var(--intelas-color-table-level-2);
  }

  &:active:not(.intelas-button--disabled):not(.intelas-button--loading) {
    background-color: var(--intelas-color-primary-pressed-purple);
    box-shadow: none;
  }

  &.intelas-button--loading {
    color: var(--intelas-color-primary-dark-purple);
    background-color: var(--intelas-color-table-level-1);
  }
}
